<h1>Care libro</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Bienvenidos a Carelibro la red social de los amargos de Eafit!
</p>
<%= link_to "Actualizar contraseña", account_activation_url(@user.password_token), method: :patch%>
