<%if current_user.admin?%>
 <% for user in @users %>
   <div class="user">
     <p>
       <strong><%= user.username %> Admin</strong>
       <%= link_to "Delete User", user, :method => :delete,
                                 data: { confirm: "Esta seguro" } %> %>
       <div class="clear"></div>
     </p>
   </div>
 <% end %>
<%elsif current_user%>
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
<%end%>
