
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
        </div>
      </div>

      <div class="inner cover">
        <h1 class="white">Bienvenidos a CareLibro la red soicial de los amargos.</h1>

        <!--<p class="lead"><a class="btn btn-lg btn-info" href="#">Learn -->
					<%=link_to "Registrate", :siginup,method: :get, class: "btn btn-lg btn-info"%>
      <!-- more</a></p>
      </div>-->

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p>© Santiago Carmona Gonzalez ~ <a href=
          "http://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </div>
    </div>
</div>
</div>
