<h1>Estos son los posts</h1>
<br>
<%if @posts.any? %>
<%@posts.each do |x| %>
<div class = "center-block">
  <h1><%=link_to x.title, x %></h1>
  <div class="pull-right">
    <%= link_to x,data: {confirm: "Esta seguro que desea eliminar el post"},method: :delete, class: "btn btn-default"  do %>
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Eliminar Post
    <%end%>
  </div>

  <p><%= x.description %></p>
  <hr>
</div>
<%end%>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%= link_to " Nuevo post", :new_post %>
</button>
<%else%>
  <h1> no dio posts</h1>
<%end%>
